@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
        <h1> Responsive NavBar</h1>
    <h2>Biblioteca Virtual</h2>
</div>

